NEXT_PUBLIC_SUPABASE_URL=
NEXT_PUBLIC_SUPABASE_ANON_KEY=
SUPABASE_SERVICE_ROLE_KEY=

MONDAY_API_TOKEN=
MONDAY_OPPORTUNITIES_BOARD_ID=
MONDAY_LEADS_BOARD_ID=
MONDAY_REFERRING_AGENT_COLUMN_ID=color_mm2vd6b1
MONDAY_LOAN_AMOUNT_COLUMN_ID=
MONDAY_EXPECTED_COMMISSION_COLUMN_ID=formula_mm2vcvt2
MONDAY_MASTER_PAYMENT_COLUMN_ID=
MONDAY_AGENT_NUMBER_COLUMN_ID=text_mm3hp9zw
MONDAY_PAYMENT_TO_AGENT_NUMBER_COLUMN_ID=formula_mm3hmh8d
MONDAY_API_URL=https://api.monday.com/v2
MONDAY_SYNC_CRON_SECRET=